/* 全局样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* 头部样式 */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* 导航样式 */
nav {
    background-color: #f2f2f2;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

/* 主要内容样式 */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

article {
    background-color: #f9f9f9;
    padding: 10px;
}

/* 页脚样式 */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

a {
    /*display: block;*/
    margin-top: 10px;
    margin-bottom: 10px;
    color: #207bf3;
    text-decoration: none;
}

a:hover {
    color: #8662e9;
}